# Node
node_modules/
dist/
bin/cli.cjs
npm-debug.log*

# Logs
*.log
*.tsbuildinfo

# IDE/Editor
.vscode/
.idea/

# OS junk
.DS_Store

# Build tools
*.zip
*.tgz
.eslintcache

# CLI-specific ignores
playground/node_modules/
playground/dist/
.env
playground/.env
package-lock.json
